{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page – OpCalc – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {{ dwpHeader({
    serviceName: "OpCalc",
    serviceHref: "/",
    container: true
  }) }}
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block footer %}
  {{ dwpFooter({
    meta: {
      visuallyHiddenTitle: "About this website",
      items: [
        {
          href: "#",
          text: "Accessibility statement"
        },
        {
          href: "#",
          text: "Privacy notice"
        },
        {
          href: "#",
          text: "Cookies"
        }
      ]
    }
  }) }}
{% endblock %}
 
{% block content %}
 
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
 
      <h1 class="govuk-heading-l">
        Which benefit is this case for?
      </h1>
 
      <!-- <p>
        This sets the tabs, calculations and forms avaliable for the rest of the case.
      </p> -->

      <div id="changedName-hint" class="govuk-hint">
      This sets the tabs, calculations and forms avaliable for the rest of the case
    </div>


      <div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whereDoYouLive" name="whereDoYouLive" type="radio" value="england">
        <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
          Attendance Allowance (AA)
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYouLive" type="radio" value="scotland">
        <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
          Bereavement Allowance (BA)
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whereDoYouLive-3" name="whereDoYouLive" type="radio" value="wales">
        <label class="govuk-label govuk-radios__label" for="whereDoYouLive-3">
          Disability Living Allowance (DLA)
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whereDoYouLive-4" name="whereDoYouLive" type="radio" value="northern-ireland">
        <label class="govuk-label govuk-radios__label" for="whereDoYouLive-4">
          Employment and Support Allowance (ESA)
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whereDoYouLive" name="whereDoYouLive" type="radio" value="england">
        <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
          Incapacity Benefit (IB)
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYouLive" type="radio" value="scotland">
        <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
          Income Support (IS)
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whereDoYouLive-3" name="whereDoYouLive" type="radio" value="wales">
        <label class="govuk-label govuk-radios__label" for="whereDoYouLive-3">
          Income Support/Jobseeker’s Allowance (IS/JSA)
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whereDoYouLive-4" name="whereDoYouLive" type="radio" value="northern-ireland">
        <label class="govuk-label govuk-radios__label" for="whereDoYouLive-4">
          Income Support/Pension Credit (IS/PC)
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whereDoYouLive" name="whereDoYouLive" type="radio" value="england">
        <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
          Invalidity Benefit (IVB)
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYouLive" type="radio" value="scotland">
        <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
          Invalidity/Incapacity Benefit (IVB/IB)
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whereDoYouLive-3" name="whereDoYouLive" type="radio" value="wales">
        <label class="govuk-label govuk-radios__label" for="whereDoYouLive-3">
          Jobseeker’s Allowance (JSA)
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whereDoYouLive-4" name="whereDoYouLive" type="radio" value="northern-ireland">
        <label class="govuk-label govuk-radios__label" for="whereDoYouLive-4">
          Maternity Allowance (MA)
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whereDoYouLive-4" name="whereDoYouLive" type="radio" value="northern-ireland">
        <label class="govuk-label govuk-radios__label" for="whereDoYouLive-4">
          Passported Incapacity Benefit (PIB)
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whereDoYouLive-4" name="whereDoYouLive" type="radio" value="northern-ireland">
        <label class="govuk-label govuk-radios__label" for="whereDoYouLive-4">
          Pension Credit (PC)
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whereDoYouLive-4" name="whereDoYouLive" type="radio" value="northern-ireland">
        <label class="govuk-label govuk-radios__label" for="whereDoYouLive-4">
          Retirement Pension (RP)
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whereDoYouLive-4" name="whereDoYouLive" type="radio" value="northern-ireland">
        <label class="govuk-label govuk-radios__label" for="whereDoYouLive-4">
          Severe Disablement Allowance (SDA)
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whereDoYouLive-4" name="whereDoYouLive" type="radio" value="northern-ireland">
        <label class="govuk-label govuk-radios__label" for="whereDoYouLive-4">
          Sickness Benefit (SB)
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whereDoYouLive-4" name="whereDoYouLive" type="radio" value="northern-ireland">
        <label class="govuk-label govuk-radios__label" for="whereDoYouLive-4">
          Widowed Mother’s Allowance (WMA)
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whereDoYouLive-4" name="whereDoYouLive" type="radio" value="northern-ireland">
        <label class="govuk-label govuk-radios__label" for="whereDoYouLive-4">
          Widowed Parent’s Allowance (WPA)
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whereDoYouLive-4" name="whereDoYouLive" type="radio" value="northern-ireland">
        <label class="govuk-label govuk-radios__label" for="whereDoYouLive-4">
          Widow’s Pension (WP)
        </label>
      </div>
    </div>
  </fieldset>
</div>
 
     <!-- {% from "govuk/components/select/macro.njk" import govukSelect %}
 
{{ govukSelect({
  id: "sort",
  name: "sort",
  label: {
    text: "Choose a benefit"
  },
  items: [
    {
      value: "published",
      text: "Attendance Allowance (AA)"
    },
    {
      value: "updated",
      text: "Berevement Allowance (BA)",
      selected: true
    },
    {
      value: "views",
      text: "DLA Care & Mobility"
    },
    {
      value: "comments",
      text: "DLA Mobility Component"
    },
    {
      value: "comments",
      text: "Employment and Support Allowance (ESA)"
    },
     {
      value: "comments",
      text: "Incapacity Benefit (IB)"
    }
  ]
}) }} -->
 
{{ govukButton({
        text: "Continue",
        href: "/customer-details/benefits-details"
      }) }}
 
    </div>
  </div>
 
{% endblock %}