{% extends "layouts/main.html" %}

{% block pageTitle %}
  Case print selection – OpCalc – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {{ dwpHeader({
    serviceName: "OpCalc",
    serviceHref: "/landingpage",
    container: true
  }) }}
{% endblock %}

{% block footer %}
  {{ dwpFooter({
    meta: {
      visuallyHiddenTitle: "About this website",
      items: [
        {
          href: "#",
          text: "Accessibility statement"
        },
        {
          href: "#",
          text: "Privacy notice"
        },
        {
          href: "#",
          text: "Cookies"
        }
      ]
    }
  }) }}
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "/opcalctype"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Case print selection
      </h1>

      <p class="govuk-body">Only PDFs that have been generated for this case can be printed.</p>

      {# Same markers as the case overview - a PDF can only be printed once   #}
      {# it has actually been generated.                                     #}
      {% set a14Done = true if data.a14Complete else false %}
      {% set qb16Done = true if data.qb16Complete else false %}
      {% set dccDone = true if data.dccComplete else false %}

      {% set formItems = [] %}

      {% set _ = formItems.push({
        value: "a14",
        text: "A14",
        checked: a14Done,
        disabled: not a14Done
      }) %}

      {% set _ = formItems.push({
        value: "qb16Calculation",
        text: "QB16 calculation",
        checked: qb16Done,
        disabled: not qb16Done
      }) %}

      {% set _ = formItems.push({
        value: "qb16Schedules",
        text: "QB16 schedules",
        checked: qb16Done,
        disabled: not qb16Done
      }) %}

      {% set _ = formItems.push({
        value: "dcc",
        text: "Diminishing capital calculation",
        checked: dccDone,
        disabled: not dccDone
      }) %}

      {% set _ = formItems.push({
        value: "scheduleOfAssets",
        text: "Schedule of assets",
        checked: dccDone,
        disabled: not dccDone
      }) %}

      {% set _ = formItems.push({
        value: "dccTrace",
        text: "DCC trace",
        hint: { text: "A step by step record of how the calculation was worked out." },
        disabled: not dccDone
      }) %}

      {% set _ = formItems.push({ divider: "Not generated for this case" }) %}

      {% set _ = formItems.push({ value: "ba3", text: "BA3", disabled: true }) %}
      {% set _ = formItems.push({ value: "familyCredit", text: "Family credit", disabled: true }) %}
      {% set _ = formItems.push({ value: "housingCosts", text: "Housing costs", disabled: true }) %}
      {% set _ = formItems.push({ value: "housingTrace", text: "Housing trace", disabled: true }) %}
      {% set _ = formItems.push({ value: "qb33", text: "QB33", disabled: true }) %}
      {% set _ = formItems.push({ value: "averageHours", text: "Average hours calculation", disabled: true }) %}
      {% set _ = formItems.push({ value: "scheduleOfHours", text: "Schedule of hours", disabled: true }) %}
      {% set _ = formItems.push({ value: "averageHoursTrace", text: "Average hours trace", disabled: true }) %}
      {% set _ = formItems.push({ value: "averageEarnings", text: "Average earnings calculation", disabled: true }) %}
      {% set _ = formItems.push({ value: "scheduleOfEarnings", text: "Schedule of earnings", disabled: true }) %}
      {% set _ = formItems.push({ value: "averageEarningsTrace", text: "Average earnings trace", disabled: true }) %}

      <form action="/opcalctype" method="post">

        {{ govukCheckboxes({
          idPrefix: "forms-to-print",
          name: "formsToPrint",
          fieldset: {
            legend: {
              text: "Which PDFs do you want to print?",
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: formItems
        }) }}

        {% if a14Done %}

          {% set a14s = [
            { ref: "A14PC: 10/07/2015", to: "11/04/2016", generated: "10/07/2015", reason: "User" },
            { ref: "A14PC: 12/04/2016", to: "10/04/2017", generated: "12/04/2016", reason: "Uprating" },
            { ref: "A14PC: 11/04/2017", to: "09/04/2018", generated: "11/04/2017", reason: "Uprating" },
            { ref: "A14PC: 10/04/2018", to: "08/04/2019", generated: "10/04/2018", reason: "Uprating" },
            { ref: "A14PC: 09/04/2019", to: "06/04/2020", generated: "09/04/2019", reason: "Uprating" },
            { ref: "A14PC: 07/04/2020", to: "12/04/2021", generated: "07/04/2020", reason: "Uprating" },
            { ref: "A14PC: 10/07/2020", to: "12/04/2021", generated: "10/07/2020", reason: "Savings credit start" },
            { ref: "A14PC: 13/04/2021", to: "11/04/2022", generated: "13/04/2021", reason: "Uprating" },
            { ref: "A14PC: 12/04/2022", to: "10/04/2023", generated: "12/04/2022", reason: "Uprating" },
            { ref: "A14PC: 11/04/2023", to: "08/04/2024", generated: "11/04/2023", reason: "Uprating" },
            { ref: "A14PC: 09/04/2024", to: "07/04/2025", generated: "09/04/2024", reason: "Uprating" },
            { ref: "A14PC: 08/04/2025", to: "06/04/2026", generated: "08/04/2025", reason: "Uprating" },
            { ref: "A14PC: 07/04/2026", to: "16/07/2026", generated: "07/04/2026", reason: "Uprating" }
          ] %}

          {% set a14Items = [] %}

          {% for a14 in a14s %}
            {% set _ = a14Items.push({
              value: a14.ref,
              text: a14.ref,
              hint: { text: "To " + a14.to + ", generated " + a14.generated + ", " + a14.reason },
              checked: true if data.printScope == "all" or not data.selectedA14 else (data.selectedA14 == a14.ref)
            }) %}
          {% endfor %}

          {{ govukCheckboxes({
            idPrefix: "a14s-to-print",
            name: "a14sToPrint",
            fieldset: {
              legend: {
                text: "Which A14 PDFs do you want to include?",
                classes: "govuk-fieldset__legend--m"
              }
            },
            hint: {
              text: "All PDFs are included by default. Untick any you do not need."
            },
            items: a14Items
          }) }}

        {% endif %}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Print",
            type: "submit"
          }) }}

          {{ govukButton({
            text: "Cancel",
            href: "/opcalctype",
            classes: "govuk-button--secondary"
          }) }}
        </div>

      </form>

    </div>
  </div>

{% endblock %}
